html,
body {
  height: 100%;
}

div[tabindex='-1'] {
  height: 100%;
}

.account-item {
  position: relative;
  display: inline-block;
  margin-right: 16px;
}

.account-item .account-unbind svg {
  position: absolute;
  top: -3px;
  right: -3px;

  display: none;

  border: 1px solid #999;
  border-radius: 50%;

  background: #fff;

  cursor: pointer;
}

.account-item:hover .account-unbind svg {
  display: block;
}

.account-item.github a path,
.account-item.twitter circle,
.account-item.facebook a path,
.account-item.weibo circle,
.account-item.qq a path {
  fill: #808080;
}

.social-accounts a #google {
	--color-1: #4285F4;
  --color-2: #4285F4;
  --color-3: #FBBC05;
  --color-4: #EB4335;
}

.account-item.google:hover a #google,
.account-item.google.bind a #google {
	--color-1: #4285F4;
  --color-2: #4285F4;
  --color-3: #FBBC05;
  --color-4: #EB4335;
}

.account-item.shinigami:hover a #shinigami,
.account-item.shinigami.bind a #shinigami {
	--color-shinigami-1: #000;
  --color-shinigami-2: #fff;
}

.account-item.github:hover a path,
.account-item.github.bind a path {
  fill: #1b1f23;
}

.account-item.twitter:hover circle,
.account-item.twitter.bind circle {
  fill: #2daae1;
}

.account-item.facebook:hover a path,
.account-item.facebook.bind a path {
  fill: #1877f2;
}

.account-item.weibo:hover circle,
.account-item.weibo.bind circle {
  fill: #d34237;
}

.account-item.qq:hover a path,
.account-item.qq.bind a path {
  fill: #259be0;
}

// remain for historical reasons
.vemoji,
.wl-emoji {
  display: inline-block;
  vertical-align: middle;
  width: 1.3rem;
  margin: 0.25rem;
}

.social-accounts a + a {
  margin-left: 16px;
}

.upgrade-tips {
  padding: 0 10px;
  border-bottom: 1px solid rgb(212 167 44 / 40%);

  background: #fff8c5;
  color: #24292f;

  line-height: 36px;
}

.cropt-container .cr-boundary  {
	width: 300px;
	height: 300px;
	margin: 0 0 0 0;
}

.cropt-container .cr-slider-wrap {
	width: 300px;
	margin: 15px 0;
}

.login-tab-container {
	min-width: 300px;
}

.login-tabs {
	display: flex;
	gap: 10px;
	padding: 20px 0;
	border-bottom: 1px solid #222;
}

.login-tab {
	flex: 1;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
	font-weight: bold;
	transition: 0.3s;
}

.login-tab.active {
	background: #4f46e5;
	border-radius: 8px 8px 8px 8px;
	color: white;
}

.login-tab-content {
	display: none;
	padding: 10px 0;
}

.login-tab-content.active {
	display: block;
}

.login-tab-title {
	text-align: center;
	margin: 20px 0 10px;
	font-size: 1.2em;
	font-weight: bold;
}

.login-social-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.btn-social {
	color: #000;
	padding: 0 12px;
	height: 40px;
  font-size: 1.14286em;
	display: flex; 
	align-items: center; 
	justify-content: center; 
	gap: 8px; 
	border-radius: 8px;
	background-color: #fff;
	text-transform: capitalize;
}

.btn-social:hover {
	color: #000;
}

.change-password-wrapper {
	display: flex;
	flex-direction: column;

	.change-password-label {
		display: flex;
		justify-content: space-between;
		align-items: center
	}
}